USE [master]
GO
/****** Object:  Database [PRN212Exam]    Script Date: 29/06/2025 10:47:41 PM ******/
CREATE DATABASE [PRN212Exam]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN212Exam', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PRN212Exam.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN212Exam_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PRN212Exam_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN212Exam].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN212Exam]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 29/06/2025 10:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseName] [nvarchar](100) NOT NULL,
	[CreatorId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 29/06/2025 10:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionId] [int] IDENTITY(1,1) NOT NULL,
	[QuestionText] [nvarchar](max) NOT NULL,
	[TestId] [int] NOT NULL,
	[CorrectAnswer] [nvarchar](255) NOT NULL,
	[WrongAnswer1] [nvarchar](255) NOT NULL,
	[WrongAnswer2] [nvarchar](255) NOT NULL,
	[WrongAnswer3] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentAnswers]    Script Date: 29/06/2025 10:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentAnswers](
	[AnswerId] [int] IDENTITY(1,1) NOT NULL,
	[TestId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[QuestionId] [int] NOT NULL,
	[ChosenAnswer] [nvarchar](255) NOT NULL,
	[IsCorrect] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResults]    Script Date: 29/06/2025 10:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResults](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[TestId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Score] [decimal](5, 2) NULL,
	[CompletionTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 29/06/2025 10:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TestId] [int] IDENTITY(1,1) NOT NULL,
	[TestName] [nvarchar](250) NOT NULL,
	[CourseId] [int] NOT NULL,
	[CreatorId] [int] NOT NULL,
	[Status] [bit] NULL,
	[TestKey] [nvarchar](50) NOT NULL,
	[StartDate] [datetime] NULL,
	[EndDate] [datetime] NULL,
	[DueTime] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 29/06/2025 10:47:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Role] [nvarchar](10) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [CourseName], [CreatorId]) VALUES (1, N'PRN212', 2)
INSERT [dbo].[Courses] ([CourseId], [CourseName], [CreatorId]) VALUES (2, N'English', 2)
INSERT [dbo].[Courses] ([CourseId], [CourseName], [CreatorId]) VALUES (3, N'Chemical', 1)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [TestId], [CorrectAnswer], [WrongAnswer1], [WrongAnswer2], [WrongAnswer3]) VALUES (1, N'What is the default value of an integer in C#?', 1, N'0', N'null', N'1', N'undefined')
INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [TestId], [CorrectAnswer], [WrongAnswer1], [WrongAnswer2], [WrongAnswer3]) VALUES (2, N'Which of the following is the correct way to declare a variable in C#?', 1, N'int number;', N'int = number;', N'var number int;', N'number = int;')
INSERT [dbo].[Questions] ([QuestionId], [QuestionText], [TestId], [CorrectAnswer], [WrongAnswer1], [WrongAnswer2], [WrongAnswer3]) VALUES (3, N'What does WPF stand for?', 1, N'Windows Presentation Foundation', N'Web Presentation Framework', N'Windows Programming Framework', N'Wide Presentation Format')
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentAnswers] ON 

INSERT [dbo].[StudentAnswers] ([AnswerId], [TestId], [StudentId], [QuestionId], [ChosenAnswer], [IsCorrect]) VALUES (44, 18, 3, 48, N'(dai + rong) * 2', 1)
INSERT [dbo].[StudentAnswers] ([AnswerId], [TestId], [StudentId], [QuestionId], [ChosenAnswer], [IsCorrect]) VALUES (45, 18, 3, 49, N'a + b + c', 1)
INSERT [dbo].[StudentAnswers] ([AnswerId], [TestId], [StudentId], [QuestionId], [ChosenAnswer], [IsCorrect]) VALUES (46, 18, 3, 50, N'hinh binh hanh', 0)
SET IDENTITY_INSERT [dbo].[StudentAnswers] OFF
GO
SET IDENTITY_INSERT [dbo].[TestResults] ON 

INSERT [dbo].[TestResults] ([ResultId], [TestId], [StudentId], [Score], [CompletionTime]) VALUES (5, 18, 3, CAST(5.00 AS Decimal(5, 2)), CAST(N'2024-12-17T15:49:47.957' AS DateTime))
INSERT [dbo].[TestResults] ([ResultId], [TestId], [StudentId], [Score], [CompletionTime]) VALUES (6, 18, 3, CAST(6.00 AS Decimal(5, 2)), CAST(N'2024-12-17T16:08:21.700' AS DateTime))
INSERT [dbo].[TestResults] ([ResultId], [TestId], [StudentId], [Score], [CompletionTime]) VALUES (7, 15, 3, CAST(6.00 AS Decimal(5, 2)), CAST(N'2024-12-17T22:40:52.937' AS DateTime))
SET IDENTITY_INSERT [dbo].[TestResults] OFF
GO
SET IDENTITY_INSERT [dbo].[Tests] ON 

INSERT [dbo].[Tests] ([TestId], [TestName], [CourseId], [CreatorId], [Status], [TestKey], [StartDate], [EndDate], [DueTime]) VALUES (1, N'Bai Kiem Tra so 1', 1, 8, 0, N'test1_key', CAST(N'2024-12-20T08:00:00.000' AS DateTime), CAST(N'2024-12-20T10:00:00.000' AS DateTime), 60)
INSERT [dbo].[Tests] ([TestId], [TestName], [CourseId], [CreatorId], [Status], [TestKey], [StartDate], [EndDate], [DueTime]) VALUES (2, N'Bai Kiem Tra so 2', 1, 2, 0, N'test2_key', CAST(N'2024-12-21T00:00:00.000' AS DateTime), CAST(N'2024-12-20T10:00:00.000' AS DateTime), 60)
INSERT [dbo].[Tests] ([TestId], [TestName], [CourseId], [CreatorId], [Status], [TestKey], [StartDate], [EndDate], [DueTime]) VALUES (3, N'Bai Kiem Tra Giua ki', 1, 2, 1, N'test3_key', CAST(N'2024-12-20T08:00:00.000' AS DateTime), CAST(N'2024-12-20T10:00:00.000' AS DateTime), 90)
SET IDENTITY_INSERT [dbo].[Tests] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role], [IsActive]) VALUES (1, N'admin', N'1', N'Admin', 1)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role], [IsActive]) VALUES (2, N'teacher', N'1', N'Teacher', 1)
INSERT [dbo].[Users] ([UserId], [Username], [Password], [Role], [IsActive]) VALUES (3, N'student', N'1', N'Student', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tests__585DF17495ACFBFC]    Script Date: 29/06/2025 10:47:41 PM ******/
ALTER TABLE [dbo].[Tests] ADD UNIQUE NONCLUSTERED 
(
	[TestKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E4E308B09F]    Script Date: 29/06/2025 10:47:41 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tests] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Student') FOR [Role]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([TestId])
REFERENCES [dbo].[Tests] ([TestId])
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD FOREIGN KEY([QuestionId])
REFERENCES [dbo].[Questions] ([QuestionId])
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[StudentAnswers]  WITH CHECK ADD FOREIGN KEY([TestId])
REFERENCES [dbo].[Tests] ([TestId])
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD FOREIGN KEY([TestId])
REFERENCES [dbo].[Tests] ([TestId])
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD FOREIGN KEY([CreatorId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Student' OR [Role]='Teacher' OR [Role]='Admin'))
GO
USE [master]
GO
